<h1>About us</h1>
<p>This is an app based off of Pinterest</p>
<p>A site by Michael Pardo</p>
<p>"How cool"</p>
<p>-George Washington</p>
<p>This is so fun. I can post all of my favorite Doge memes</p>
<p>-Albert Einstein</p>