
<div class="jumbotron center">
	<h1>Welcome to my homepage</h1>
	<p><%= link_to "Signup", signup_path, class: "btn btn-success btn-lg" %></p>
	<p><%= link_to "Login", "#", class: "btn btn-primary btn-lg" %></p>
</div>